body {
  font-family: Arial, Helvetica, sans-serif;
}

.left-side {
  flex: 2;
  background-image: url(images/canyon.jpg);
  background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side {
  flex: 3;
}

body {
  display: flex;
  height: 100vh;
  width: auto;
  padding: 0;
  margin: 0;
}

h1 {
  color: white;
  font-size: xx-large;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: rgb(10,10,10,0.5);
  width: 100%;
  padding: 30px;
}

.right-side {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0px 0px;
  background-color: beige;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0px 36px;
}
.text-container {
  justify-content: end;
  margin-top: 48px;
  font-weight: 700;
}

.form-container {
  justify-content: center;
  background-color: aliceblue;
  padding-top: 24px;
  padding-bottom: 24px;
}

.submit-container {
  justify-content: start;
}

button {
  width: fit-content;
  padding: 12px 24px;
  border-radius: 12px;
  background-color: rgb(120, 194, 10);
  font-weight: 700;
  font-size:small;
  color:whitesmoke;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.input-field {
  height: 20px;
  width: 256px;
  margin-right: 24px;
  margin-bottom: 12px;
}
label {
  display: block;
  font-size:small;
  font-family: 'Courier New', Courier, monospace;
}

h2 {
  padding-bottom: 10px;
  margin: 0;
}



input {
  padding: 2px;
  border-radius: 2px;
  border: none;
}

input:user-valid {
  border: solid green 1px;
}

input:user-invalid {
  border: solid red 1px;
}
input:focus {
  border: solid blue 1px
}

.error {
  border: solid red 1px;
}

#no-match {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: red;
}